@import "tailwindcss";

/*tailwind define*/
@theme {
  --font-pretendard : "pretendard", "sans-serif";
  --color-black-Background : #121212;
  --color-highlight : #ef476f;
  --color-main-text : #ffffff;
  --color-border-color : #1E293C;
  --color-category-box-color : #696969;
}

.pretendard-thin {
  @apply font-pretendard font-thin
}

/*tailwind define*/


:root {
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.ProseMirror pre {
  background-color: #1e1e1e;
  color: #dcdcdc;
  padding: 14px 16px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
  line-height: 1.5;
}

/* 코드 내부 텍스트 */
.ProseMirror code {
  color: inherit;
  background: none;
  font-family: inherit;
}

.ProseMirror img {
  max-width: min(800px, 100%);
  width: auto;
  height: auto;
  display: block;
  margin-left : auto;
  margin-right : auto;
  border-radius: 6px;
}
