@import "tailwindcss";

/*tailwind define*/
@theme {
  --font-pretendard : "pretendard", "sans-serif";
  --color-black-Background : #121212;
  --color-highlight : #ef476f;
  --color-main-text : #ffffff;
}

.pretendard-thin {
  @apply font-pretendard font-thin
}

/*tailwind define*/


:root {
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

